body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Custom scrollbar */
#cart-items-container::-webkit-scrollbar,
#daftar-kategori-admin::-webkit-scrollbar,
#daftar-produk-admin::-webkit-scrollbar,
.page-content::-webkit-scrollbar {
    width: 6px;
}
#cart-items-container::-webkit-scrollbar-track,
#daftar-kategori-admin::-webkit-scrollbar-track,
#daftar-produk-admin::-webkit-scrollbar-track,
.page-content::-webkit-scrollbar-track {
    background: #1e293b; /* slate-800 */
}
#cart-items-container::-webkit-scrollbar-thumb,
#daftar-kategori-admin::-webkit-scrollbar-thumb,
#daftar-produk-admin::-webkit-scrollbar-thumb,
.page-content::-webkit-scrollbar-thumb {
    background: #475569; /* slate-600 */
    border-radius: 3px;
}
#cart-items-container::-webkit-scrollbar-thumb:hover,
#daftar-kategori-admin::-webkit-scrollbar-thumb:hover,
#daftar-produk-admin::-webkit-scrollbar-thumb:hover,
.page-content::-webkit-scrollbar-thumb:hover {
    background: #64748b; /* slate-500 */
}

/* Menyembunyikan halaman yang tidak aktif */
.page-content.hidden {
    display: none;
}

/* Style untuk Zona Drop Logo */
.logo-drop-zone {
    border: 2px dashed #475569; /* slate-600 */
    border-radius: 0.5rem; /* rounded-lg */
    padding: 1.5rem; /* p-6 */
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}
.logo-drop-zone.dragover {
    background-color: #334155; /* slate-700 */
    border-color: #06b6d4; /* cyan-500 */
}
.logo-drop-zone img {
    max-height: 8rem; /* h-32 */
    margin: 0 auto 1rem; /* mx-auto mb-4 */
    border-radius: 0.5rem; /* rounded-lg */
    object-fit: contain;
    background-color: #334155; /* slate-700 */
}

/* Sembunyikan panah atas/bawah di input angka */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
